
@{
    ViewBag.DashBoardTitle = "CareerVisa - JobSeeker - CV Builder";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<h2>CV Builder</h2>


<center><strong>
    Comming Soon
</strong></center>
