
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>Products</h3>
        <ul>
            <li>
                <a href="#">Paypal</a>
            </li>
            <li>
                <a href="#">BitCoin</a>
            </li>
            <li>
                <a href="#">Skrill</a>
            </li>
            <li>
                <a href="#">Alertpay</a>
            </li>
            <li>
                <a href="#">Payoneer</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>FAQs</h3>
        <ul>
            <li>
                <a href="#">Why choose us?</a>
            </li>
            <li>
                <a href="#">Where we are?</a>
            </li>
            <li>
                <a href="#">Fees</a>
            </li>
            <li>
                <a href="#">Guarantee</a>
            </li>
            <li>
                <a href="#">Discount</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>About</h3>
        <ul>
            <li>
                <a href="#">Career</a>
            </li>
            <li>
                <a href="#">Partners</a>
            </li>
            <li>
                <a href="#">Team</a>
            </li>
            <li>
                <a href="#">Clients</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>Find us on</h3>
        <a class="social" href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        <a class="social" href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a class="social" href="#" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
        <a class="social" href="#" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
    </div>
</div>