
@section DefaultcssBundle{
    @Styles.Render("~/Content/css")
}
@{
    ViewBag.Title = "Home Page";
}


@Html.Partial("SliderSection")

<!-- Hero Area Section End-->
<!-- feature Section -->
<section id="key-features">
    <div class="se-pre-con"></div>
</section>
<!-- feature Section End -->

<!-- feature-list Section -->
<section id="main-features">
    <div class="se-pre-con"></div>
</section>
<!-- feature-list Section End -->

<script>
    $.ajax({
        // Get Student PartialView
        url: "/Home/Features",
        type: 'Get',
        data: null,
        success: function (data) {
            $("#key-features").empty().append(data);
            new WOW().init();
        },
        error: function () {
            alert("something seems wrong");
        }
    });

    $(function () {
        $.get("/Home/Functionality", null, function (data) {
            $("#main-features").empty().append(data);
            new WOW().init();

        });
    });
</script>
@section DefaultscriptBundle{
    @Scripts.Render("~/bundles/scripts")
}