@section DefaultcssBundle{
    @Styles.Render("~/Content/css")
}
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="qlt-confirmation">
    <div class="panel panel-default">
        <div class="panel-body">
            <center>
                <img src="~/images/open_mail_letter-512.png" style="width:30px; height: 30px;">
                <p class="desc">Please check your email to reset your password.<br>Please visit your <img style="width: 40px; height: 40px" src="~/images/inbox.png">.</p>
            </center>

        </div>
    </div>
</div>

@section DefaultscriptBundle{
    @Scripts.Render("~/bundles/scripts")
}
