@section DefaultcssBundle{
    @Styles.Render("~/Content/css")
}

@{
    ViewBag.Title = "Reset password confirmation";
}
<div id="ConfirmEmail">
    <h2 class="FeaturesHeaderh1h2">@ViewBag.Title.</h2>
    <br />
    <center>
        <img src="~/images/passwordresetsuccessfuly.png" style="width: 300px; height: 300px;">
    </center>
    <br />
    <h3 class="FeaturesHeaderh3">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h3>
    <br />
    </div">

    @section DefaultscriptBundle{
        @Scripts.Render("~/bundles/scripts")
    }
